* {
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #423a49;
    margin-left: 7%;
}

#subtitulo{
    font-family: sans-serif;
    color: #380b61;
    margin-left: 10%;
}

fieldset{
    border: 0;
}

body{
    background-color: #52a7f0;
    font-family: sans-serif;
    color: #380b61;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.email{
    width: 225px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #423a49;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #ffffff;
}


.botao {
    font-size: 1.2em;
    background: #423a49;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: #6a5e76;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

input:required:not(:placeholder-shown):invalid {
    animation: shake .3s;
    border: 2px solid red;
    
}

@keyframes shake {
    25% { transform: translateX(4px);}
    50% { transform: translateX(-4px);}
    75% { transform: translateX(4px);}
}
input {
    width: 100px;
  }
  input:focus {
    border: 2px solid #0050e6;
  }
  input:required:valid {
    border: 2px solid #009900;
  }
